body {
    background-color: white;
    background-attachment: fixed;
}

/* style for navigation bar */
.nav {
    margin-top: 20px;
    float: right;
}
.nav a{
    color: black;
    margin: 5px;
    padding: 10px;
}

/* style for active nav */
.active {
    background-color: teal;
}

/* style for header background */
.box {
    background-color:#ADEFD1FF;
}

/* style for search bar */
.search {
    margin-top: 20px;
}

/* style for all texts */
.text {
    text-align: center;
    font-size: 30px;
    font-style: oblique;
    margin-top: 20px;

}

/* style for text box */
.tbox {
    background-color: #FFD662FF;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin: 10px;
    margin-top: 30px;
    border-spacing: 10px;
    padding: 130px;
}

/* style for footer */
.footer {
    background-color: #ADEFD1FF;
    margin-top: 30px;
    padding: 40px;
    
}

/* style for all the logo links */
.links {
    text-align: right;
}

/*style for facebook icon */
.flogo {
    font-size: 45px;
    margin-left: 20px;
    color: rgb(66,103,178);
}

/* style for instagram icon */
.ilogo {
    font-size: 45px;
    margin-left: 20px;
    color:rgb(252,175,69);
}
    
/* style for youtube icon */
.ylogo {
    font-size: 45px;
    margin-left: 20px;
    color: red
}

/* style for registration box and login as well */
.rbox {
    border-style: solid;
    margin-top: 50px;
    
}

/* style for all buttons */
.btn {
    text-align: center;
    margin-left: 160px ;
}

/* style for text in basket page */
.btext {
    margin-top: 30px;
    font-size: 50px;
}

/* style for box in basket page */
.bbox {
    border-style: solid;
    border-color: black;
    padding: 100px;
    font-size: 50px;
}

/* style for checkout text */
.checkouttext {
    padding: 10px;
    font-size: 30px;
    color: white;
}